$grid-unit: 60px;
$gutter-unit: 20px;

$col-2-units:                       $grid-unit*2 + $gutter-unit; // 140px
$col-3-units:                       $grid-unit*3 + $gutter-unit*2; // 220px
$col-4-units:                       $grid-unit*4 + $gutter-unit*3; // 300px
$col-5-units:                       $grid-unit*5 + $gutter-unit*4; // 380px
$col-6-units:                       $grid-unit*6 + $gutter-unit*5; // 460px
$col-8-units:                       $grid-unit*8 + $gutter-unit*7; // 620px
$col-9-units:                       $grid-unit*9 + $gutter-unit*8; // 700px


